<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @question.version %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Type:</strong>
  <%= @question.answer_type %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
