<p id="notice"><%= notice %></p>

<p>
  <strong>Balancesheetdate:</strong>
  <%= @amitigant.BalanceSheetDate %>
</p>

<p>
  <strong>Holdingpartyreference:</strong>
  <%= @amitigant.HoldingPartyReference %>
</p>

<p>
  <strong>Contractreference:</strong>
  <%= @amitigant.ContractReference %>
</p>

<p>
  <strong>Mitigantreference:</strong>
  <%= @amitigant.MitigantReference %>
</p>

<p>
  <strong>Mitigantbalance:</strong>
  <%= @amitigant.MitigantBalance %>
</p>

<p>
  <strong>Mitiganttype:</strong>
  <%= @amitigant.MitigantType %>
</p>

<p>
  <strong>Componente:</strong>
  <%= @amitigant.Componente %>
</p>

<p>
  <strong>Acontract:</strong>
  <%= @amitigant.acontract %>
</p>

<%= link_to 'Edit', edit_amitigant_path(@amitigant) %> |
<%= link_to 'Back', amitigants_path %>
