<p id="notice"><%= notice %></p>

<p>
  <strong>Balancesheetdate:</strong>
  <%= @aparty.BalanceSheetDate %>
</p>

<p>
  <strong>Holdingpartyreference:</strong>
  <%= @aparty.HoldingPartyReference %>
</p>

<p>
  <strong>Partyreference:</strong>
  <%= @aparty.PartyReference %>
</p>

<p>
  <strong>Partydescription:</strong>
  <%= @aparty.PartyDescription %>
</p>

<p>
  <strong>Nif:</strong>
  <%= @aparty.NIF %>
</p>

<p>
  <strong>Activitysector:</strong>
  <%= @aparty.ActivitySector %>
</p>

<p>
  <strong>Countrycode:</strong>
  <%= @aparty.CountryCode %>
</p>

<p>
  <strong>Sectorialcode:</strong>
  <%= @aparty.SectorialCode %>
</p>

<p>
  <strong>Partytype:</strong>
  <%= @aparty.PartyType %>
</p>

<p>
  <strong>Balcao:</strong>
  <%= @aparty.Balcao %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @aparty.ZipCode %>
</p>

<p>
  <strong>Codigovigilanciaespecial:</strong>
  <%= @aparty.CodigoVigilanciaEspecial %>
</p>

<p>
  <strong>Partygroupreference:</strong>
  <%= @aparty.PartyGroupReference %>
</p>

<p>
  <strong>Totalgroupexposure:</strong>
  <%= @aparty.TotalGroupExposure %>
</p>

<p>
  <strong>Totalpartyexposure:</strong>
  <%= @aparty.TotalPartyExposure %>
</p>

<p>
  <strong>Bpn overduecredit:</strong>
  <%= @aparty.BPN_OverdueCredit %>
</p>

<p>
  <strong>Bpn returnedcheques:</strong>
  <%= @aparty.BPN_ReturnedCheques %>
</p>

<p>
  <strong>Bpn overduecreditother:</strong>
  <%= @aparty.BPN_OverdueCreditOther %>
</p>

<p>
  <strong>Bpn bdpdefault:</strong>
  <%= @aparty.BPN_BdPDefault %>
</p>

<p>
  <strong>Bpn overduecreditbpnother:</strong>
  <%= @aparty.BPN_OverdueCreditBPNOther %>
</p>

<p>
  <strong>Nplteam:</strong>
  <%= @aparty.NPLTeam %>
</p>

<p>
  <strong>Nplteamleader:</strong>
  <%= @aparty.NPLTeamLeader %>
</p>

<p>
  <strong>Assetmanager:</strong>
  <%= @aparty.AssetManager %>
</p>

<p>
  <strong>Legalmanager:</strong>
  <%= @aparty.LegalManager %>
</p>

<%= link_to 'Edit', edit_aparty_path(@aparty) %> |
<%= link_to 'Back', aparties_path %>
