<p id="notice"><%= notice %></p>

<p>
  <strong>Balancesheetdate:</strong>
  <%= @contract.BalanceSheetDate %>
</p>

<p>
  <strong>Contractportfolio:</strong>
  <%= @contract.ContractPortfolio %>
</p>

<p>
  <strong>Contractreference:</strong>
  <%= @contract.ContractReference %>
</p>

<p>
  <strong>Holdingpartyreference:</strong>
  <%= @contract.HoldingPartyReference %>
</p>

<p>
  <strong>Bpn balcao:</strong>
  <%= @contract.BPN_Balcao %>
</p>

<p>
  <strong>Partyreference:</strong>
  <%= @contract.PartyReference %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @contract.Classe %>
</p>

<p>
  <strong>Productclass:</strong>
  <%= @contract.ProductClass %>
</p>

<p>
  <strong>Productcomponent:</strong>
  <%= @contract.ProductComponent %>
</p>

<p>
  <strong>Accountnature:</strong>
  <%= @contract.AccountNature %>
</p>

<p>
  <strong>Accounttype:</strong>
  <%= @contract.AccountType %>
</p>

<p>
  <strong>Origindate:</strong>
  <%= @contract.OriginDate %>
</p>

<p>
  <strong>Maturitydate:</strong>
  <%= @contract.MaturityDate %>
</p>

<p>
  <strong>Irrecoverabledate:</strong>
  <%= @contract.IrrecoverableDate %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @contract.Currency %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @contract.Balance %>
</p>

<p>
  <strong>Drawnamount:</strong>
  <%= @contract.DrawnAmount %>
</p>

<p>
  <strong>Undrawnamount:</strong>
  <%= @contract.UndrawnAmount %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @contract.Principal %>
</p>

<p>
  <strong>Accruedinterestatbsd:</strong>
  <%= @contract.AccruedInterestAtBSD %>
</p>

<p>
  <strong>Lossclass:</strong>
  <%= @contract.LossClass %>
</p>

<p>
  <strong>Taxanominal:</strong>
  <%= @contract.TaxaNominal %>
</p>

<p>
  <strong>Tir:</strong>
  <%= @contract.TIR %>
</p>

<p>
  <strong>Tipocredito:</strong>
  <%= @contract.TipoCredito %>
</p>

<p>
  <strong>Tipogarantia:</strong>
  <%= @contract.TipoGarantia %>
</p>

<p>
  <strong>Tipocliente:</strong>
  <%= @contract.TipoCliente %>
</p>

<p>
  <strong>Currentdelay:</strong>
  <%= @contract.CurrentDelay %>
</p>

<p>
  <strong>Ismitigant:</strong>
  <%= @contract.ISMitigant %>
</p>

<p>
  <strong>Bpn percentagemcartao:</strong>
  <%= @contract.BPN_PercentagemCartao %>
</p>

<p>
  <strong>Bpn val fee:</strong>
  <%= @contract.BPN_Val_Fee %>
</p>

<p>
  <strong>Ismortgage:</strong>
  <%= @contract.IsMortgage %>
</p>

<p>
  <strong>Bpn val1 capvin:</strong>
  <%= @contract.BPN_Val1_CapVin %>
</p>

<p>
  <strong>Bpn val2 capven:</strong>
  <%= @contract.BPN_Val2_CapVen %>
</p>

<p>
  <strong>Bpn val3 capabt:</strong>
  <%= @contract.BPN_Val3_CapAbt %>
</p>

<p>
  <strong>Bpn val5 jrsven:</strong>
  <%= @contract.BPN_Val5_JrsVen %>
</p>

<p>
  <strong>Bpn val6 jrsanl:</strong>
  <%= @contract.BPN_Val6_JrsAnl %>
</p>

<p>
  <strong>Bpn val7 prvrgc:</strong>
  <%= @contract.BPN_Val7_PrvRGC %>
</p>

<p>
  <strong>Bpn val8 prveco:</strong>
  <%= @contract.BPN_Val8_PrvEco %>
</p>

<p>
  <strong>Bpn val9 prvcrv:</strong>
  <%= @contract.BPN_Val9_PrvCrV %>
</p>

<p>
  <strong>Bpn val10 prvccd:</strong>
  <%= @contract.BPN_Val10_PrvCCD %>
</p>

<p>
  <strong>Bpn val11 prvrp:</strong>
  <%= @contract.BPN_Val11_PrvRP %>
</p>

<p>
  <strong>Bpn val13 garpre:</strong>
  <%= @contract.BPN_Val13_GarPre %>
</p>

<p>
  <strong>Bpn accref1:</strong>
  <%= @contract.BPN_AccRef1 %>
</p>

<p>
  <strong>Bpn accref2:</strong>
  <%= @contract.BPN_AccRef2 %>
</p>

<p>
  <strong>Bpn accref3:</strong>
  <%= @contract.BPN_AccRef3 %>
</p>

<p>
  <strong>Bpn accref4 accruedinterestatbsd:</strong>
  <%= @contract.BPN_AccRef4_AccruedInterestAtBSD %>
</p>

<p>
  <strong>Bpn accref5:</strong>
  <%= @contract.BPN_AccRef5 %>
</p>

<p>
  <strong>Bpn accref6:</strong>
  <%= @contract.BPN_AccRef6 %>
</p>

<p>
  <strong>Bpn accref7:</strong>
  <%= @contract.BPN_AccRef7 %>
</p>

<p>
  <strong>Bpn accref8:</strong>
  <%= @contract.BPN_AccRef8 %>
</p>

<p>
  <strong>Bpn accref9:</strong>
  <%= @contract.BPN_AccRef9 %>
</p>

<p>
  <strong>Bpn accref10:</strong>
  <%= @contract.BPN_AccRef10 %>
</p>

<p>
  <strong>Bpn accref11:</strong>
  <%= @contract.BPN_AccRef11 %>
</p>

<p>
  <strong>Bpn accref12 undrawnamount:</strong>
  <%= @contract.BPN_AccRef12_UndrawnAmount %>
</p>

<p>
  <strong>Bpn accref13:</strong>
  <%= @contract.BPN_AccRef13 %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
