<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :BalanceSheetDate %><br>
    <%= f.date_select :BalanceSheetDate %>
  </div>
  <div class="field">
    <%= f.label :ContractPortfolio %><br>
    <%= f.text_area :ContractPortfolio %>
  </div>
  <div class="field">
    <%= f.label :aparty_id %><br>
    <%= f.number_field :aparty_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.number_field :answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
