<p id="notice"><%= notice %></p>

<p>
  <strong>Balancesheetdate:</strong>
  <%= @acontract.BalanceSheetDate %>
</p>

<p>
  <strong>Contractportfolio:</strong>
  <%= @acontract.ContractPortfolio %>
</p>

<p>
  <strong>Contractreference:</strong>
  <%= @acontract.ContractReference %>
</p>

<p>
  <strong>Holdingpartyreference:</strong>
  <%= @acontract.HoldingPartyReference %>
</p>

<p>
  <strong>Bpn balcao:</strong>
  <%= @acontract.BPN_Balcao %>
</p>

<p>
  <strong>Partyreference:</strong>
  <%= @acontract.PartyReference %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @acontract.Classe %>
</p>

<p>
  <strong>Productclass:</strong>
  <%= @acontract.ProductClass %>
</p>

<p>
  <strong>Productcomponent:</strong>
  <%= @acontract.ProductComponent %>
</p>

<p>
  <strong>Accountnature:</strong>
  <%= @acontract.AccountNature %>
</p>

<p>
  <strong>Accounttype:</strong>
  <%= @acontract.AccountType %>
</p>

<p>
  <strong>Origindate:</strong>
  <%= @acontract.OriginDate %>
</p>

<p>
  <strong>Maturitydate:</strong>
  <%= @acontract.MaturityDate %>
</p>

<p>
  <strong>Irrecoverabledate:</strong>
  <%= @acontract.IrrecoverableDate %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @acontract.Currency %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @acontract.Balance %>
</p>

<p>
  <strong>Drawnamount:</strong>
  <%= @acontract.DrawnAmount %>
</p>

<p>
  <strong>Undrawnamount:</strong>
  <%= @acontract.UndrawnAmount %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @acontract.Principal %>
</p>

<p>
  <strong>Accruedinterestatbsd:</strong>
  <%= @acontract.AccruedInterestAtBSD %>
</p>

<p>
  <strong>Lossclass:</strong>
  <%= @acontract.LossClass %>
</p>

<p>
  <strong>Taxanominal:</strong>
  <%= @acontract.TaxaNominal %>
</p>

<p>
  <strong>Tir:</strong>
  <%= @acontract.TIR %>
</p>

<p>
  <strong>Tipocredito:</strong>
  <%= @acontract.TipoCredito %>
</p>

<p>
  <strong>Tipogarantia:</strong>
  <%= @acontract.TipoGarantia %>
</p>

<p>
  <strong>Tipocliente:</strong>
  <%= @acontract.TipoCliente %>
</p>

<p>
  <strong>Currentdelay:</strong>
  <%= @acontract.CurrentDelay %>
</p>

<p>
  <strong>Ismitigant:</strong>
  <%= @acontract.ISMitigant %>
</p>

<p>
  <strong>Bpn percentagemcartao:</strong>
  <%= @acontract.BPN_PercentagemCartao %>
</p>

<p>
  <strong>Bpn val fee:</strong>
  <%= @acontract.BPN_Val_Fee %>
</p>

<p>
  <strong>Ismortgage:</strong>
  <%= @acontract.IsMortgage %>
</p>

<p>
  <strong>Bpn val1 capvin:</strong>
  <%= @acontract.BPN_Val1_CapVin %>
</p>

<p>
  <strong>Bpn val2 capven:</strong>
  <%= @acontract.BPN_Val2_CapVen %>
</p>

<p>
  <strong>Bpn val3 capabt:</strong>
  <%= @acontract.BPN_Val3_CapAbt %>
</p>

<p>
  <strong>Bpn val5 jrsven:</strong>
  <%= @acontract.BPN_Val5_JrsVen %>
</p>

<p>
  <strong>Bpn val6 jrsanl:</strong>
  <%= @acontract.BPN_Val6_JrsAnl %>
</p>

<p>
  <strong>Bpn val7 prvrgc:</strong>
  <%= @acontract.BPN_Val7_PrvRGC %>
</p>

<p>
  <strong>Bpn val8 prveco:</strong>
  <%= @acontract.BPN_Val8_PrvEco %>
</p>

<p>
  <strong>Bpn val9 prvcrv:</strong>
  <%= @acontract.BPN_Val9_PrvCrV %>
</p>

<p>
  <strong>Bpn val10 prvccd:</strong>
  <%= @acontract.BPN_Val10_PrvCCD %>
</p>

<p>
  <strong>Bpn val11 prvrp:</strong>
  <%= @acontract.BPN_Val11_PrvRP %>
</p>

<p>
  <strong>Bpn val13 garpre:</strong>
  <%= @acontract.BPN_Val13_GarPre %>
</p>

<p>
  <strong>Bpn accref1:</strong>
  <%= @acontract.BPN_AccRef1 %>
</p>

<p>
  <strong>Bpn accref2:</strong>
  <%= @acontract.BPN_AccRef2 %>
</p>

<p>
  <strong>Bpn accref3:</strong>
  <%= @acontract.BPN_AccRef3 %>
</p>

<p>
  <strong>Bpn accref4 accruedinterestatbsd:</strong>
  <%= @acontract.BPN_AccRef4_AccruedInterestAtBSD %>
</p>

<p>
  <strong>Bpn accref5:</strong>
  <%= @acontract.BPN_AccRef5 %>
</p>

<p>
  <strong>Bpn accref6:</strong>
  <%= @acontract.BPN_AccRef6 %>
</p>

<p>
  <strong>Bpn accref7:</strong>
  <%= @acontract.BPN_AccRef7 %>
</p>

<p>
  <strong>Bpn accref8:</strong>
  <%= @acontract.BPN_AccRef8 %>
</p>

<p>
  <strong>Bpn accref9:</strong>
  <%= @acontract.BPN_AccRef9 %>
</p>

<p>
  <strong>Bpn accref10:</strong>
  <%= @acontract.BPN_AccRef10 %>
</p>

<p>
  <strong>Bpn accref11:</strong>
  <%= @acontract.BPN_AccRef11 %>
</p>

<p>
  <strong>Bpn accref12 undrawnamount:</strong>
  <%= @acontract.BPN_AccRef12_UndrawnAmount %>
</p>

<p>
  <strong>Bpn accref13:</strong>
  <%= @acontract.BPN_AccRef13 %>
</p>

<p>
  <strong>Party:</strong>
  <%= @acontract.party %>
</p>

<%= link_to 'Edit', edit_acontract_path(@acontract) %> |
<%= link_to 'Back', acontracts_path %>
